@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Khand|Monoton|Poiret+One|Rajdhani:400,500');


body{
	background-color: black;
}

.heading{
	font-family: 'Monoton', sans-serif;
	color: white;
	font-size: 50px;
}

.heading2{
	font-family: 'Rajdhani', sans-serif;
	color: rgb(255, 223, 0);
	font-weight: 400;
	font-size: 30px;
}

.wrapper{
	display: grid;
	grid-template-columns: 25% 50% 25%;
	margin-top: 4%;
}

.headbox{
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 6px;
}
.box{
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 6px;
	margin-top: 3%;
	padding-top: 1%;

}

.textstyle{
	font-family: 'Poiret', sans-serif;
	font-size: 15px;
	text-align: justify;
	line-height: 1.6;
	color: black;
	padding-top: 1%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 4%;
}

.imggrid{
	margin: 2%;
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	padding-bottom: 4%;
}

.imggrid2{
	margin: 2%;
	display: grid;
	grid-template-columns: 50% 50%;
	padding-bottom: 4%;
}

.imggrid3{
	margin: 2%;
	display: grid;
	grid-template-columns: 40% 60%;
	padding-bottom: 4%;
}

img{
	border-radius: 6px;
}

ul {
	list-style: none;
	margin-left: 25%;
}

a{
	text-decoration: none;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 400;
	font-size: 1.2vw;
	color: white;
	float: left;
	margin-right: 3vw;
}

a:hover{
	transform: scale(1.5);
}

.rajdhani{
	font-family: 'Rajdhani', sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-align: justify;
	line-height: 1.6;
	color: black;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 4%;
}
