@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Khand|Monoton|Poiret+One|Rajdhani:400,500');


body{
	background-color: rgb(30, 30, 30);
}

.heading{
	font-family: 'Monoton', sans-serif;
	color: white;
	font-size: 50px;
}

.heading2{
	font-family: 'Rajdhani', sans-serif;
	color: rgb(255,223,0);
	font-weight: 400;
	font-size: 35px;
}

.wrapper{
	display: grid;
	grid-template-columns: 15% 70% 15%;
	margin-top: 4%;
}

.wrapper2{
	display: grid;
	grid-template-columns: 20% 60% 20%;
	margin-top: 4%;
}

.cards{
	display: flex;
	flex-wrap: wrap;
}

.cards>div{
	width: 46%;
	height: 12%;
	margin: 2%;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
}

div.cards div img {
  min-height: 100%;
  width: 100%;
  position: relative;
}

.cards div:hover{
	transform: scale(1.05);
	box-shadow: 5.25px 5.25px 2.1px rgba(0, 0, 0, 0.3);
}

.headbox{
	background-color: rgba(235,201,68, 0.8);
	border-radius: 6px;
}
.box{
	background-color: rgba(235,201,68, 0.8);
	border-radius: 5px;
	padding: 1%;
}

.subbox{
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 3%;
	margin-bottom: 2%;
}

.textstyle{
	font-family: 'Poiret', sans-serif;
	font-size: 15px;
	text-align: justify;
	line-height: 1.6;
	color: black;
	padding-top: 1%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 4%;
}

.imggrid{
	margin: 2%;
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	padding-bottom: 4%;
}

.imggrid2{
	margin: 2%;
	display: grid;
	grid-template-columns: 50% 50%;
	padding-bottom: 4%;
}

.imggrid3{
	margin: 2%;
	display: grid;
	grid-template-columns: 40% 60%;
	padding-bottom: 4%;
}

img{
	border-radius: 6px;
}

ul {
	list-style: none;
	margin-left: 25%;
}

a{
	text-decoration: none;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 400;
	font-size: 1.4vw;
	color: rgb(255,223,0);
	float: left;
	margin-right: 5vw;
	margin-bottom: 8%;
}

a:hover{
	transform: scale(1.5);
}

.rajdhani{
	font-family: 'Rajdhani', sans-serif;
	font-weight: 500;
	font-size: 18px;
	text-align: justify;
	line-height: 1.6;
	color: black;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 4%;
}

p{
	color: rgb(9,49,69);
}

.verticalcards{
	display: flex;
	flex-wrap: wrap;
}

.verticalcards>div{
	width: 18%;
	height: 60vh;
	margin: 1%;
	border-radius: 10px;
	overflow: hidden;
}

div.verticalcards div img {
	width: 100%;
  	height: 100%;
  	position: relative;
  	object-fit: contain;
}

.verticalcards div:hover{
	transform: scale(1.05);
}
